# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Distribution & Binaries (Attached to GitHub Releases)
Release/
publish/
Portable/
*.zip
*.exe
quarantine_vault/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.venv/

# OS Junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
